
body {
    font-family: system-ui;
    margin: 0;
    padding: 0;

    background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust black opacity here */
    z-index: 1
}

.container {
    position: relative;
    z-index: 2;
    color: white; /* Ensure text is visible */
    padding: 80px; /* Adjust as needed */
    text-align: center; 
}
h1 {
    font-size: 58px; 
    font-weight: bold; 
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow for better legibility */
    margin-bottom: 0px; 
    padding-bottom: 30px; /* Padding at the bottom to space out the border */
    border-bottom: 5px solid rgb(80, 126, 153); /* Thick orange line */
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    padding : 20px;
}
button{
    margin: 20px;
    font-size: 16px;
    color: white;
    border: none;
    padding: 15px 20px;
    background-color: rgb(63, 117, 75);
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

button:hover, button:focus {
    background-color: rgb(13, 163, 46);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

